* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;

}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.main {
    width: 100%;
    height: 100vh;
    background-image: url('../image/image.jpg');
    background-size:cover;
}

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
}

.title {
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.col {
    margin-top: 10px;
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    color: white;
}

.col div {
    width: 250px;
    text-align: center;
}

input {
    height: 50px;
    width: 60%;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    border-color: transparent;
    text-align: center;
    font-size: 30px;
}